<div class="container">
  <div class="row">
      <div class="col-xl-12 bg-info">
        <div class="four">
            <h1>Four#index <span class="label label-warning">In Progress</span></h1>
            <p>Find me in app/views/four/index.html.erb</p>
            
            <div class="well well-sm">
                <%= eval(2,3, '/') %>
            </div>

            <div class="well well-sm">

            </div>

            <div class="well well-sm">

            </div>

            <div class="well well-sm">

            </div>

            <div class="well well-sm">

            </div>

        </div>
    </div>
  </div>
</div>